@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');
.main_design{
    display: flex;
    flex-direction: column;
    letter-spacing: 5px;
    align-items: center;
    font-family: "Inter Tight", sans-serif;
    width:100%;
}